.expo
.next
docker*
apps/**/out
node_modules
package-lock.json

# prettier-plugin-sql-cst only supports sqlite syntax
apps/www/schema.sql
**/supabase/migrations/*.sql
examples/slack-clone/nextjs-slack-clone/full-schema.sql

# ignore files with custom js formatting
apps/docs/pages/guides/auth/*.mdx
apps/docs/pages/guides/integrations/*.mdx